

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* fonts */
.font-leckerli {
  font-family: var(--font-leckerli), cursive;
}

/* Optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}

h1{
  font-family: leckerli, serif;
}

/* Body defaults */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FFF8EE; /* subtle pastel background */
  color: #1f2937; /* dark gray text */
}

/* Links */
a {font-family: leckerli, serif;
  transition: color 0.2
  
}

a:hover {
  color: #56b1db; /* subtle playful blue hover */
}

/* Headings */
h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1{font-family: var(--font-leckerli), cursive;}
